.dashboard-wrapper{
    width: 100%;
    padding: 1em 1em 0em 1em;

    .wallet-profits{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
        grid-column-gap: 12px;
        grid-row-gap: 6px;
        padding: 15px 0;
        grid-auto-rows: 1fr;
        .wallet-amount{
            border-radius: 4px;
            border: 2px solid #f5f5f5;
            display: flex;
            justify-content: space-between;
            padding:12px;

            .wallet-price{
                font-size:2em;
            }
        }
        .overall-gain{
            border-radius: 4px;
            border: 2px solid #f5f5f5;
            display: flex;
            justify-content: space-between;
            padding:12px;
            
            .overall-profit{
                font-size:2em;
            }
        }
        .flick-wallet{
            background:#f5f5f5;
        }
    }
    .repository-wrapper{
        border-top: 1px solid #e8e6e6;
        border-bottom: 1px solid #e8e6e6;
        margin:12px 0px 24px 0px;
        padding:12px 0px 24px 0px;
        table{
            width: 100%;;

            .current-price{
                background:#ffc0cb61;
            }
        }
    }
    .buy-wrapper{

        border-top: 1px solid #e8e6e6;
        border-bottom: 1px solid #e8e6e6;
        margin:12px 0px 24px 0px;
        padding:12px 0px 24px 0px;
        table{
            width: 100%;;
        }
    }

    .sell-wrapper{
        border-top: 1px solid #e8e6e6;
        border-bottom: 1px solid #e8e6e6;
        margin:12px 0px 24px 0px;
        padding:12px 0px 24px 0px;
        table{
            width: 100%;;
        }
    }
}

