.user-wrapper-outer {
  width: 100%;
  overflow: scroll;
  .user-wrapper {
    margin: 2rem;
    display: flex;
    .user-wrap {
      text-align: center;
     
      -moz-box-shadow: 0 0 12px -2px #fff;/*FF 3.5+*/
      -webkit-box-shadow: 0 0 12px -2px #fff;
      box-shadow: 0 0 12px -2px #fff;
     
      height: 180px;
      width: 150px;
      border-radius: 4px;
      background: #242b52;
      color: #fff;
      margin: 0em 1em 0em 0em;
    }
  }
}
