.stocks-login-wrapper{
    display: flex;
    width:100%;

    .stocks-side{
        width: 30%;
        box-shadow: 11px 0 9px -8px #888888;
    }
    .nav-dashboard-wrapper{
        width:70%;

    }
}